
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{#    <style>#}
{#body {#}
{#	background-image: url("default-skin.png");#}
{#        background-repeat:no-repeat;#}
{#       background-size:cover;#}
    <div>
   <center style="color: black"><font size="+1" color="black">  <p>ServLink is a platform that aims at connecting certain service providers with their clients.
       It came to our full attention that our community needed a platform that aims to provide
        </p>
       <p>Professional Services to our Community, And serve them through products and services that uphold
    dignity,enrich living and are environmentally friendly.</p>
       <p>ServLink is led by young, ambitious,
           dynamic professionals who are dedicated and have a passion for what they do.
           Online shopping is a form of electronic commerce</p><p> that gives permission to consumers
    to purchase goods or services through internet using a web browser or smartphones
    applications. </p><p>Shopping online is fast gaining ground as an accepted and used business
    paradigm. A lot of businesses are implementing use of systems</p><p> and web sites to provide
    functionality for performing commercial transactions over the web and through smartphones</p>
    <p>applications. This is evident because of the increase in retailers now offering online
        store interfaces for consumers.  Walking or</p> <p>travelling has become an overall issue for
    buyers and hence a reason to develop a system that provides a platform for purchasing</p>
    <p>products from the comfort of your home and the products get delivered to you.   </p>
       </font></p></p></p></p></p></p></p></p></p>

       <div class="pb-4" style="align-content: center">
    <a href="https://web.facebook.com/?_rdc=1&_rdr" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="https://twitter.com/home" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="https://www.youtube.com/channel/UC2Dh5vV2pChlS2lqmi0fZ1A" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a href="https://www.google.com/webhp?authuser=2" target="_blank">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>

    <a href="https://dribbble.com/felix munene" target="_blank">
      <i class="fab fa-dribbble mr-3"></i>
    </a>

    <a href="https://pinterest.com/johnson mwaniki" target="_blank">
      <i class="fab fa-pinterest mr-3"></i>
    </a>

    <a href="https://github.com/johnsonmwaniki/" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>

    <a href="http://codepen.io/johnson mwaniki" target="_blank">
      <i class="fab fa-codepen mr-3"></i>
    </a>
 </div>

   </center>
</div>
{#}#}
{#</style>#}


{% endblock content %}