
<footer  class="footer fixed-bottom footer-expand-lg footer-light btn-blue-grey scrolling-footer">
    <div class="collapse footer-collapse" >
#{##id="basicExampleFooter"#}
  <hr class="my-4" style="width: auto">

  <!-- Social icons -->
 <center> <div class="pb-4" style="align-content: center">
    <a href="https://web.facebook.com/?_rdc=1&_rdr" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="https://twitter.com/home" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="https://www.youtube.com/channel/UC2Dh5vV2pChlS2lqmi0fZ1A" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a href="https://www.google.com/webhp?authuser=2" target="_blank">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>

    <a href="https://dribbble.com/felix munene" target="_blank">
      <i class="fab fa-dribbble mr-3"></i>
    </a>

    <a href="https://pinterest.com/johnson mwaniki" target="_blank">
      <i class="fab fa-pinterest mr-3"></i>
    </a>

    <a href="https://github.com/johnsonmwaniki/" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>

    <a href="http://codepen.io/johnson mwaniki" target="_blank">
      <i class="fab fa-codepen mr-3"></i>
    </a>
 </div></center>
  <!-- Social icons -->

  <!--Copyright-->
    <center>
  <div class="footer-copyright py-3">
    © 2019 Copyright:
    <a href="https://felixmunene.com" target="_blank"> Johnson Githiomi </a>
  </div>
    </center>
  <!--/.Copyright-->
</div>
</footer>
