
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

   <center> <br>ServLink is a platform that aims at connecting certain service providers with their clients.</br>
       <br> It came to our full attention that our community needed a platform that aims to provide</br>
        <br>Professional Services to our Community, And serve them through products and services that uphold </br>
    <br>dignity,enrich living and are environmentally friendly.ServLink is led by young, ambitious, </br>
    <br>dynamic professionals who are dedicated and have a passion for what they do.</br>
       <br>Online shopping is a form of electronic commerce that gives permission to consumers<br>
    <br>to purchase goods or services through internet using a web browser or smartphones </br>
    <br>applications. Shopping online is fast gaining ground as an accepted and used business </br>
    <br>paradigm. A lot of businesses are implementing use of systems and web sites to provide</br>
    <br>functionality for performing commercial transactions over the web and through smartphones</br>
    <br>applications. This is evident because of the increase in retailers now offering online</br>
    <br>store interfaces for consumers.  Walking or travelling has become an overall issue for</br>
    <br>buyers and hence a reason to develop a system that provides a platform for purchasing</br>
    <br>products from the comfort of your home and the products get delivered to you.   </br>
   </center>
{% endblock content %}