{#{% extends 'base.html' %}#}
{##}
{#{% load static %}#}
{#{% block content %}#}
{##}
{#<html xmlns="http://www.w3.org/1999/html">#}
{#<head>#}
{#<title>Create a Post </title>#}
{#</head>#}
{##}
{#<br>#}
{#<h1> 𝕮𝖔𝖓𝖙𝖆𝖈𝖙 𝕭𝖗𝖔𝖔𝖒𝖘  </h1>#}
{#<form action="" method="POST">#}
{#{% csrf_token %}#}
{#</br>#}
{#<div class="contact">#}
{#Name: <input type="text" name="name"/>#}
{#	<br/><br/>#}
{#Phone: <input type="number" name="phone"/>#}
{#	<br/><br/>#}
{#E-mail: <input type="email" name="email"/>#}
{#</div>#}
{#	<br/>#}
{##}
{#Message: <br/>#}
{#<textarea cols="55" rows="4" name="message">#}
{#</textarea><br/>#}
{#<button type="submit" class="btn btn-primary">Submit</button>#}
{#</form>#}
{#</html>#}
{##}
{#<a href="{% url 'index' %}" >home</a>#}
{#<a href="{% url 'services' %}" >services</a>#}
{#<a href="{% url 'clients' %}" >clients</a>#}
{#<a href="{% url 'contact' %}" >contact</a>#}
{##}
{##}
{#	   <div class="container">#}
{#	    <div id="copywrite">#}
{##}
{#	        <br />#}
{##}
{#	    <!-- end #copywrite"--></div>#}
{##}
{#	    <div class="nav">#}
{#		    Social media#}
{#        </div>#}
{##}
{#		    <!--<a href="blog/index.html">// Blog</a>#}
{#		    <br />-->#}
{#		    <a href="https://www.facebook.com/BroomsLimited" target="_blank">// Facebook</a>#}
{#		    <br />#}
{#		    <a href="https://twitter.com/brooms_limited" target="_blank">// Twitter</a>#}
{##}
{##}
{#	    </div><!-- end .nav -->#}
{#	    <div id="contact">#}
{##}
{##}
{#	         <a href="mailto:info@broomslimited.com">e. info@broomslimited.com</a>#}
{#	    <!-- end #contact --></div>#}
{#    </div><!-- end .container -->#}
{#<!-- end #footer --></div>#}
{#{% endblock %}#}